
<!-- This code is used to create a login page. The form will require the user to enter a username and password, which will be stored in the variables "username" and "password". The login button will call the validateLogin() function, which will check to see if the username and password are valid. If they are, it will redirect the user to the home page. If not, it will display an error message. -->
<div class="header">
  Weclocme to the YourTodoList
</div>
<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="validateLogin()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <!--Create a login button that will navigate to some other component-->
        <button type="submit" class="btn btn-primary" (onSubmit)="validateLogin()">Login</button>
    </form>
  </div>
  